@model IEnumerable<WholeSaler.Web.Models.ViewModels.OrderVM.OrderInformationVM>

@{
    ViewData["Title"] = "AllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    <img src="~/images/orderBasket.jpg" alt="order" style="height:100px;width:100px;" />
                </td>
                <td>
                   @item.CreatedDate
                </td>
                <td>
                   @item.TotalOrderAmount
                </td>

                @if(item.Status==WholeSaler.Web.Models.Enums.EntityStatus.Active)
                {
                    <td style="color:green;font-weight:bold">
                        @item.Status
                    </td>
                }
               @if (item.Status == WholeSaler.Web.Models.Enums.EntityStatus.Deleted)
                {
                    <td style="color:red;font-weight:bold">
                       @item.Status
                    </td>
                }
                @if (item.Status == WholeSaler.Web.Models.Enums.EntityStatus.Passive)
                {
                    <td style="color:gray;font-weight:bold">
                        @item.Status
                    </td>
                }
           
                

                <td>


                    <a style="text-decoration:none" asp-action="details" asp-controller="order" asp-route-orderId="@item.Id"><b>Show Details</b></a>

                </td>
            </tr>
        }
    </tbody>
</table>
