@model List<WholeSaler.Web.Models.ViewModels.ShoppingCartVM.ProductForCartVM>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string orderId = ViewBag.OrderId;
}



<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Color</th>
                <th>Unit Price</th>
                <th>Quantity Of Order</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var prd in Model)
            {

                <tr>
                   
                    @if(prd.Images!=null)
                    {
                        <td style="width:80px;height:80px"><img src="~/images/products/@prd.Images[0].FileName" style="width:80px;height:80px"></td>
                    }
                    @if (prd.Images == null)
                    {
                        <td style="width:40px;height:40px"></td>
                    }

                    <td style="vertical-align: middle;">@prd.Name</td>
                    <td style="vertical-align: middle;">@prd.Color</td>
                    <td style="vertical-align: middle;">@prd.UnitPrice TL</td>
                    <td style="vertical-align: middle;">@prd.Quantity</td>



                </tr>




            }
        </tbody>
    </table>

</div>
<div>
    <a class="btn btn-secondary" asp-action="ordercancellationrequest" asp-controller="order" asp-route-orderId="@orderId">Cancellation Order</a>
</div>
